.App {
    text-align: center;
  }
  
  .main-heading {
    font-size: 24pt;
    font-weight: 600;
    margin-bottom: 16px;
  }
  
  .hr {
    background-color: brown;
    width: 60px;
    height: 5px;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
  }
  
  .container {
    display: flex;
  }
  
  #left {
    flex: 1;
    margin-left: 5px;
  }
  
  #right {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    margin-left: 5px;
    margin-right: 5px;
  }
  
  .box {
    box-sizing: border-box;
    width: 50%;
    padding-top: 10px;
    padding-bottom: 0;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #001f3f;
    /* Dark Blue */
    border: solid #ffffff;
    border-right: 12px;
    border-bottom: 12px;
    /* Match border color to background color */
    color: #fff;
  }
  .box1-heading{
    font-size: 18pt;
  }
  .box1-paragraph{
    font-size: 10pt;
  }
  
  .lady {
    max-width: 100%;
    height: auto;
    display: block;
  }

  .github{
    width: 50px;
    height: 50px;
  }
  .box3-paragraph{
    font-size: 10pt;
    text-decoration: underline;
  }