.card-container {
  display: flex;
  justify-content: space-around;
  margin: 0 auto; 
  max-width: 1200px;
}

.card {
  width: 200px; 
  margin-bottom: 20px; 
  text-align: center;
  border: 1px solid #ddd; 
  border-radius: 8px;
}

.card img {
  width: 100%;
  height: auto;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.card-body {
  padding: 15px;
}

.heading {
  text-align: center;
  padding: 20px;
}

.btn-primary {
  margin: 8px;
  background-color: rgb(55, 15, 95);
  color: #fff;
  padding: 8px 12px;
  text-decoration: none;
  border: none;
  border-radius: 4px;
}
