
.services-container {
    display: block;
    justify-content:center;
    align-items: center;
    text-align: center;
    margin: 0%;
    background-color: rgb(255, 255, 255);
    
    
    
  }
  
  .text-container {
    width: 100%;
    margin-top: 50px;
    color: rgb(26, 77, 8);
  }
  
  .tag{
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    color: rgb(26, 77, 8);

  }
  .sent{
    font-weight: bold;
    color: rgb(24, 100, 5);
    margin-left: 40px;
    margin-right: 40px;
    font-size: large;
  }
  .image-container {
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    width: 60%;
    margin-bottom: 100px;
    border-radius: 10px;
  }
  
  .box1 {
    background-color: #94d87f;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 10px;
    display:block;
    text-align: center;
    
  }
  .box2 {
    background-color: #94d87f;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 15px;
    display:block;
    text-align: center;
    
  }
  
  .image {
    width: 100px;
    border-radius: 10px;
    margin-right: -200px;
  }
  
 
  