
  .containerhome {
    max-width: 1000px;
    margin: 0 auto;
    background-color: #f7f7f7;
    margin-top: 50px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 200px;
    height: 200px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-image: url(./images/4img.avif);
    background-repeat: no-repeat, repeat; 
    background-size: cover;
    

  }
 
  .heading {
    text-align: center;
    color: #008080;
  }
  
  .paragraph {
    text-align: center;
    color: #333;
    line-height: 1.6;
  }
  
  .logo {
    max-width: 20%; 
    margin-top: -120px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .button-container {
    margin-top: 20px;
    margin-left: 380px;

  }
  
  .but1 {
    background-color: #4caf50;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    
  }
  
  .but1:hover {
    background-color: #45a049;
  }
  
  .icon {
    margin-right: 15px;
  }