
.services-container {
    display: block;
    justify-content:center;
    align-items: center;
    text-align: center;
    margin: 1%;
    background-color: rgba(120, 218, 9, 0.616);
    border-radius: 20px;
    
  }
  
  .text-container {
    width: 100%;
  }
  
  .image-container {
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    width: 60%;
    margin-bottom: 100px;
    border-radius: 10px;
  }
  
  .box {
    background-color: #e0e0e0;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 15px;
    display: block;
    text-align: center;
  }
  
  .image {
    width: 100px;
    border-radius: 10px;
  }
  
 
  